<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('head') %>
</head>
<body>
    <strong>after login</strong>
    <br/>
    <strong>안녕! {이름}</strong>
    <br/>
    <strong>{test@test.com}</strong>
    <br/>
    <a href='/auth/logout'>logout</a>
</body>
</html>