<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('head') %>
</head>
<body>
    <strong>after login</strong>
    <br/>
    <strong>안녕! <%=nick%></strong>
    <br/>
    <strong><%=email%></strong>
    <br/>
    <a href='/auth/logout'>logout</a>
</body>
</html>